<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-length">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/global.css">
</head>
<body>
    <div id="include-header">
        
    </div>

    <div class="title">Contact me</div>
    <div class="subTitle">Let's have a chat, should you please.</div>

    <div class="section slideInFromBottom" style="width: fit-content; margin: auto; margin-top: 2rem;">
        <a class="contactButton grow boxShadow" href="mailto:muhdhadif.azri@gmail.com" style="text-decoration: none;">
            <img class="icon" src="icons/gmail_icon.png">
            <div class="iconText">muhdhadif.azri@gmail.com</div>
        </a>
        <a class="contactButton grow boxShadow" href="//wa.link/a6tojn" style="text-decoration: none;">
            <img class="icon" src="icons/whatsapp_icon.png">
            <div class="iconText">+60-11 1026 6261</div>
        </a>
    </div>
    <div class="section slideInFromBottom" style="width: fit-content; margin: auto; margin-top: 2rem;">
        <a class="contactButton grow boxShadow" href="https://github.com/MuhdHadif" style="text-decoration: none;">
            <img class="icon" src="icons/github_icon.png">
            <div class="iconText">MuhdHadif</div>
        </a>
        <a class="contactButton grow boxShadow" href="https://www.youtube.com/@hwordaword4301" style="text-decoration: none;">
            <img class="icon" src="icons/youtube_icon.png">
            <div class="iconText">hwordaword</div>
        </a>
    </div>

    <div class="feedbackSection">
        <div class="sectionTitle">Leave your feedback</div>
        <div style="font-size: 1.5rem;">If you have any suggestions, let me know.</div>
        <input placeholder="Feedback title">
        <textarea placeholder="Feedback message" rows="5" ></textarea>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="js/header.js"></script>
</body>
</html>