<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-length">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/global.css">
</head>
<body>
    <div id="include-header">
        
    </div>

    <div class="title">Gallery</div>
    <div class="subTitle">The fruits of my labour.</div>

    <div class="sectionTitle" style="margin-left: 15px; margin-top: 2rem;">Projects</div>
    <div class="boxShadow slideInFromRight" style="background-color: black;">
        <div class="section">
            <iframe style="width: 600px; height: 300px;" allow="fullscreen; picture-in-picture;"
                src="https://www.youtube.com/embed/Mz50Z3cVpqQ">
            </iframe> 
            <div class="sectionBlock">
                <div class="sectionTitle">Unity game development</div>
                <div class="sectionSimpleText">
                    A project that I work on in my (limited) free time.<br>
                    All lines of code, 3D assets, and animations are made by me.
                </div>
            </div>
        </div>
    </div>

    <div class="boxShadow slideInFromLeft" style="background-color: black;">
        <div class="section">
            <iframe style="width: 600px; height: 300px;" allow="fullscreen; picture-in-picture;"
                src="https://www.youtube.com/embed/pB7gH0gSE8A">
            </iframe> 
            <div class="sectionBlock">
                <div class="sectionTitle">Android mobile app</div>
                <div class="sectionSimpleText">
                    An app built using Flutter for my assignments.<br>
                    Showcasing user registration, login, and autologin functions<br>
                    with a clean, simple modern UI design.
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="js/header.js"></script>
</body>
</html>