<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-length">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/global.css">
</head>
<body>
    <div id="include-header">

    </div>

    <div class="title">Lifestyle</div>
    <div class="subTitle">Hobbies and passions, the spices of life.</div>

    <div class="sectionTitle" style="margin: auto; margin-top: 2rem;">Video Games</div>
    <div class="subTitle">
        I do like to indulge in video games, but not just for entertainment.<br>
        Games are a really good medium for sharing ideas, creativity, and culture.<br>
        So many things can be gained even from a simple action game, and rich experiences can be had with<br>handcrafted story games.<br>
        I fully intend to use my ever-growing wealth of video game knowledge for my career now and in the future.
    </div>
    <div class="boxShadow" style="background-color: black; padding: 2rem; margin-top: 2rem;">
        <div class="section slideInFromBottom" style="justify-content: center;">
            <a href="https://www.arknights.global/"><img class="capsuleImg grow" src="images/arknights.png"></a>
            <a href="https://store.steampowered.com/app/1245620/ELDEN_RING/"><img class="capsuleImg grow" src="images/elden_ring.jpg"></a>
            <a href="https://store.steampowered.com/app/427520/Factorio/"><img class="capsuleImg grow" src="images/factorio.png"></a>
        </div>
        <div class="section slideInFromBottom" style="justify-content: center;">
            <a href="https://store.steampowered.com/app/582010/Monster_Hunter_World/"><img class="capsuleImg grow" src="images/monhun_world.jpg"></a>
            <a href="https://store.steampowered.com/app/281990/Stellaris/"><img class="capsuleImg grow" src="images/stellaris.jpg"></a>
            <a href="https://store.steampowered.com/app/1229490/ULTRAKILL/"><img class="capsuleImg grow" src="images/ultrakill.jpg"></a>
        </div>
    </div>
    

    <div class="sectionTitle" style="margin: auto;">Technology</div>
    <div class="subTitle">
        Technology is an everyday part of our daily lives.<br>
        Thus, I believe we should learn how to properly use and repair them ourselves.<br>
        I also like to keep up-to-date with the latest hardware news, especially PC parts.<br>
    </div>
    <div class="boxShadow" style="background-color: black; padding: 2rem; margin-top: 2rem;">
        <div class="section" style="justify-content: center;">
            <img class="techImg" src="images/tech1.jpg">
            <img class="techImg" src="images/tech2.jpg">
        </div>
        <div class="section" style="justify-content: center;">
            <img class="techImg" src="images/tech3.jpg">
            <img class="techImg" src="images/tech4.jpg">
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="js/header.js"></script>
</body>
</html>