<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-length">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/global.css">
</head>
<body>
    <div id="include-header">
        
    </div>

    <div class="title">e-Portfolio</div>
    <div class="subTitle">Here you are, here I am.</div>

    <div class="sectionTitle" style="margin-left: auto; margin-right: 15px; margin-top: 2rem;">Profile</div>
    <div class="section">
        <div class="flexFixed"><img class="sectionImage boxShadow" style="width: 13rem;" src="images/muhdhadifbinazri.jpg"></div>
        <div class="flexAdjustable sectionText slideInFromRight boxShadow" style="width: 80%;">
            This is me, <b>Muhammad Hadif bin Azri</b>. I like to do a lot of things, most of which have something to do with computers.<br><br>
            Naturally, I aspire to become a capable Software Engineer, preferrably working in the video games industry. Currently, I am studying at UUM for my degree.
        </div>
    </div>

    <div class="sectionTitle" style="margin-left: 15px;">Academic Background</div>
    <div class="section">
        <div class="flexAdjustable sectionText slideInFromLeft boxShadow">
            During my study for my Diploma, I was involved in a few national and international competitions involving robotics and deep learning machines. 
            There, I managed to contribute in the FIRA SimulCup 2021 competition, where robots had to be programmed to drive a course automatically, <a style="text-decoration: underline; color: white;" href="https://sinarbestari.sinarharian.com.my/buletin/polimas-harumkan-nama-negara-menang-pingat-emas-pertandingan-fira-simulcup-2021">earning a gold medal</a>.<br>
            I graduated with a CGPA of 3.99.
        </div>
        <div class="flexFixed"><img class="sectionImage boxShadow" src="images/uum_logo.png"></div>
    </div>

    <div class="sectionTitle" style="margin-left: auto; margin-right: 15px; margin-top: 2rem;">Skills</div>
    <div class="section">
        <div class="flexFixed"><img class="sectionImage boxShadow" src="images/unity.png"></div>
        <div class="flexAdjustable sectionText slideInFromRight boxShadow">
            <ul>
                <li><b>Hard skills</b>: Java, C#, Javascript/Jqeury, PHP, XAMPP, Spring, GitHub, Unity (game development)<br></li>
                <li><b>Soft skills</b>: Team management, strong communication, problem solving, conflict resolution</li>
            </ul>
        </div>
    </div>

    <div id="pollSection" class="pollSection">
        <div class="sectionTitle">Which device are you using?</div>
        <div style="display: flex;">
            <div class="radioButton">
                <input type="radio" id="desktop" name="device" value="PC/Laptop">
                <label for="desktop">PC/Laptop</label><br>
            </div>
            <div class="radioButton">
                <input type="radio" id="mobile" name="device" value="Mobile">
                <label for="mobile">Mobile</label><br>
            </div>
        </div>
        <button class="submitButton" onclick="submit()">Submit</button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="js/header.js"></script>
    <script>
        function submit(){
            var radioDesktop = document.getElementById("desktop");
            var radioMobile = document.getElementById("mobile");

            if (!radioDesktop.checked && !radioMobile.checked){
                alert("Please select one option.")
            } else {
                document.getElementById("pollSection").innerHTML = "<div class='sectionTitle'>Thank you for your response!</div>";
                // alert("Thank you for your response!")
            }
        }
    </script>
</body>
</html>